.plasmo-csui-container {
    position: fixed !important;
    top: unset !important;
    left: unset !important;
    right: 10px !important;
    bottom: 70px !important;
    font-family: "Segoe UI", Tahoma, sans-serif !important;
}